{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Creators</title>
</head>
<body>
    <div class="card" style="width: 100%;">
        <div class="card-body" style="margin-left: 9.5%;">
          <h5 class="card-title">Creators??</h5>
          <h6 class="card-subtitle mb-2 text-muted">We Love Them</h6>
          <p class="card-text">Are You a Short Film Content Maker?</p>
          <a href="#" class="card-link">Join our Journey</a>
        </div>
      </div>
    </div>
</body>
<style>
    .flex_centerer1{
        display: flex;
    width: 100%;
    align-items: center;
    }
</style>
</html>
{% endblock body %}